body{
    background-color: lightgray;
}
header{
    background-color: black;
    width: 82%;
    height: 50px;
    text-align: center;
}
footer{
    background-color: blue;
    width: 82%;
    height: 25px ;
}
h1{
    text-align: center;
    color: gold;
}
h2{
    text-align: center;
    color: black;
}
h3{
    color: ivory;
}
th,td
{
   border: 2px solid
}   
td{
    width: 300px
}
td{   
    height: 300px
}
